QMainWindow {
    background-image: url("images/app-background.png");
    background-repeat: no-repeat;
    background-position:top right;

}


QStackedWidget#block-principal{
	padding: 5px;
}



QToolBar {
    background-color: rgba(150, 145, 175,20);
    border: 1px transparent;
    border-radius: 7px;
    padding: 3px;
}


QToolBar::item {
    spacing: 10px; /* spacing between menu bar items */
    background: transparent;
}


QToolBar QToolButton {
    padding:10px;
}



QToolBar::item:hover {
    background: rgba(150, 145, 175,40)
}


QToolBar::item:pressed {
    background: rgba(150, 145, 175,120);
}



QStatusBar {
	background-color: rgba(150, 145, 175,100);
	color: #913D4F;
	font-style: italic;
}



QLabel#loggin-main-title {
    font-size: 36pt;
    font-weight: bold;
    color: #489FD0;
}



QFrame#user-profile {
    border: 2px transparent;
    border-radius: 5px;
    border-image: url('images/logo_bordure.png') 0 0 0 0 stretch stretch;
    padding: 5px;
}

QFrame#user-profile:hover {
    background: #50D2FF;
    border: 2px transparent;
    background-clip: content;
}

QFrame#user-profile[state=true] {
    background: #8FD5E8;
    background-clip: content;
}

QFrame#user-profile QLabel#image {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

QFrame#user-profile QLabel#label {
    margin-bottom: 10px;
    font-style: italic;
}



QFrame#login-form QLabel#password-flash{
    font-size: 14pt;
    color: #F44524;
}


/*
Onglets de la fenêtre principale
*/
QTabWidget#main-tabs::tab-bar {
    left: 20px;
}

QTabWidget#main-tabs::pane {
    background: rgba(90, 43, 112, 30);
    border-radius: 10px;
    border: 2px ridge rgba(150, 145, 175, 100);
}

QTabBar#main-tabs-bar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f6f7fa, stop: 1 rgba(200, 200, 200, 10));
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px outset rgba(87, 103, 187, 120);
    margin: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar#main-tabs-bar:tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f6f7fa, stop: 1 rgba(200, 200, 200, 30));
}

QTabBar#main-tabs-bar:tab:pressed {
    border: 2px inset rgba(87, 103, 187, 120);
}

QTabBar#main-tabs-bar:tab:selected {
    font-weight: bold;
    margin: 0px;
    border-bottom: 0px;
}

